<!-- canvas renderer here -->
<div class="green-light">
  <button class="button green-light-pause" (click)="pause()"></button>
  <!--<label class="button green-light-pause">-->
    <!--Starp/Stop-->
    <!--<input />-->
  <!--</label>-->
  <!--<label class="button green-light-pause">-->
    <!--Direction <span></span>-->
    <!--<input />-->
  <!--</label>-->
  <button class="button green-light-pause" (click)="restart()">Restart</button>
  <!--<button class="button green-light-pause" (click)="revert()">Revert</button>-->
</div>
