<!-- canvas renderer here -->
<div class="green-light">
  <form [formGroup]="animationControls">
    <input type="checkbox" formControlName="isOnPause" id="isOnPause"/>
    <label for="isOnPause" class="button pause">
      Start/Stop
    </label>
    <input type="checkbox" formControlName="isForward" id="isForward"/>
    <label class="button direction" for="isForward" [ngClass]="{'active': animationControls.isForward}">
      Direction
    </label>
    <label class="button speed">
      Speed
      <input type="number" step="5" min="0" max="800" formControlName="frameSpeed"/>
    </label>
    <label class="button" (click)="restart()">Restart</label>
  </form>
</div>
