$btn-bg: cadetblue;
$btn-paused: #a54936;
.green-light {
  text-align: center;
  .button {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 7px;
    margin: 10px;
    background-color: $btn-bg;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover, &:focus{
      background-color: darken($btn-bg, 10%);
    }
  }
  input[type=checkbox]{
    visibility: hidden;
    position: absolute;
    &:checked + label{
      background-color: $btn-paused;
      &:hover, &:focus{
        background-color: darken($btn-paused, 10%);
      }
    }
  }
  .speed{
    input{
      display: inline-block;
      margin-left: 5px;
      border: none;
      border-radius: 3px;
      padding: 0 7px;
      width: 30px;
    }
  }
}
